.table {
  table-layout: auto;
  width: 100%;
}

.table td:nth-child(1) {
  min-width: 150px;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
  width: 150px;
  min-width: 150px;
}

.emptyText {
  text-align: center;
  color: grey;
}
