.table {
  table-layout: auto;
  width: 100%;

  tr {
    user-select: none;
  }
}

.table td:nth-child(1) {
  min-width: 150px;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
  width: 150px;
  min-width: 150px;
}

.clickableRow {
  cursor: pointer;
}

.selected {
  background-color: #ecffdf !important;

  td {
    background-color: transparent !important;
  }
}
